.container {
    /* Estilos para o container externo, se necessário */
  }
  
  .container-summary {
    background-color: lightblue;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .container-summary p,
  .container-summary svg {
    margin-right: 10px; /* Adiciona margem entre os elementos */
  }
  
  .strong {
    background-color: lightcoral;
    padding: 10px;
  }
  